<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{& title}} -- Laravel4 中文文档</title>
	<meta name="description" content="Laravel是一套简洁、优雅的PHP Web开发框架(PHP Web Framework) -- Laravel中文网">
	<meta name="keywords" content="Laravel中文社区,php框架,laravel中文网,php framework,restful routing,laravel,laravel php">
	<link rel="stylesheet" href="/css/style.css">
	<script src="http://cdn.bootcss.com/modernizr/2.6.2/modernizr.min.js"></script>
  </head>
  <body>
  	<header>
	    <div class="container">
	        <a href="/" title="Laravel PHP Framework" class="logo">&nbsp;</a>
	        <nav class="menu">
	            {{> menu }}
	        </nav>
	    </div>
	</header>