<!-- Main docs footer (social buttons, copyright, etc). -->
<footer>
    <div class="container">
        <a href="/" title="Laravel PHP Framework" class="logo"><img src="http://laravel.com/img/footer_logo.png" alt="Laravel PHP Framework"></a>
        {{> menu }}
        <p class="copyright">Copyright &copy; 2013 Taylor Otwell. Site designed by <a href="http://casserolelabs.com/" title="Casserole Labs"  target="_blank">Casserole Labs</a> &amp; <a href="http://daylerees.com" title="Dayle Rees"  target="_blank">Dayle Rees</a>.</p>
        <p class="copyright">Laravel中文文档由<a href="http://www.golaravel.com">Laravel中文网</a>翻译并整理，遵循<a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>协议。</p>
        <p class="copyright">Powered by <a href="http://www.ghostchina.com/" title="Ghost中文网">Ghost</a></p>
        <p class="copyright"><a href="//www.miibeian.gov.cn" target="_blank">京ICP备11008151号</a></p>
    </div>
</footer>

<!-- JS and analytics only. -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.min.js"></script>

{{> analytics}}

  </body>
</html>