<!-- Main docs footer (social buttons, copyright, etc). -->
<footer>
    <div class="container">
        <a href="/" title="Laravel PHP Framework" class="logo"><img src="http://laravel.com/img/footer_logo.png" alt="Laravel PHP Framework"></a>
        {{> menu }}
    </div>
</footer>

<!-- JS and analytics only. -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.min.js"></script>

{{> analytics }}
  </body>
</html>